/*styling.css*/
html{
     
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    background: -webkit-radial-gradient(circle, #fff, #ccc);   
    background: -o-radial-gradient(circle, #fff, #ccc);   
    background: -moz-radial-gradient(circle, #fff, #ccc);
}

#container{
   
    height: 600px;
    width: 750px;
	  background: radial-gradient(circle, #fff, #535aa8);
    background: -webkit-radial-gradient(circle, #fff, #535aa8);   
    background: -o-radial-gradient(circle, #fff, #535aa8);   
    background: -moz-radial-gradient(circle, #fff, #535aa8);
    background-color: #9DD2EA;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
/*        box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
    position: relative;
}

#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;
    -moz-box-shadow: 0px 4px 0px #9da853;
    -webkit-box-shadow: 0px 4px 0px #9da853;
}

#correct{
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#fruitsContainer{
    cursor: url('images/kickerrrr.png'), default;
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px #535aa8;
    -moz-box-shadow: 0px 4px #535aa8;
    -webkit-box-shadow: 0px 4px #535aa8;
    font-size: 100px;
	  letter-spacing: 10pt;
    text-align: center;
    font-family: Ubuntu;
    color: black;
    position: relative;
    overflow: hidden;
}

#instruction{
   color: #fff;
	 font-family: Ubuntu;
    width: 450px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
}
#instruction a{
	text-decoration: none;
	color:aliceblue;
}
a:hover {
    background-color: fuchsia;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
/*    background-color: #9C89F6;*/
/*    color: white;*/
/*    box-shadow: 0px 4px #6b54d3;*/
/*    -moz-box-shadow: 0px 4px #6b54d3;*/
/*    -webkit-box-shadow: 0px 4px #6b54d3;*/
}

.box:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 0px #6b54d3; 
    -moz-box-shadow: 0px 0px #6b54d3; 
    -webkit-box-shadow: 0px 0px #6b54d3; 
    top: 4px;
}
#box4{
    margin-right: 0;   
}

#startreset{
    width: 78px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
	  font-family: Ubuntu;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;   
}

#trialsLeft{
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: #F1FF92;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
/*    visibility: hidden;*/
    display: none;
}

#gameOver{
    height: 250px;
    width: 550px;
    background: blueviolet;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 122px;
	  border-radius: 4px;
/*    z-index: 2;*/
    display: none;
    
}
#cherries2 img{
 padding: 42px 35px 35px 35px;
 width: 480px;
 height:auto;
 display: inherit;
/*    z-index: inherit;*/
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit{
    display: none;
    position: absolute;
}